<script>

  import Button from "./Pages/Button.svelte"
  import ProfilePic from "./Pages/ProfilePic.svelte"
  import UserInfo from "./Pages/UserInfo.svelte"
  import TodayPhoto from "./Pages/TodayPhoto.svelte"
  import Input from "./Pages/Input.svelte"

  let CurrentComponent = Button
  const componentMap = [{
    name: "Button",
    component: Button
  }, {
    name: "ProfilePic",
    component: ProfilePic
  }, {
    name: "UserInfo",
    component: UserInfo
  }, {
    name: "TodayPhoto",
    component: TodayPhoto
  }, {
    name: "Input",
    component: Input
  }]

  const seeComponent = (index) => {
    CurrentComponent = componentMap[index].component
  }
</script>

<main>
  <div class="left">
    {#each componentMap as compo, i}
      <p on:click={ () => {seeComponent(i)}} > {compo.name} </p>
    {/each}
  </div>
  <div class="right">
    <svelte:component this={CurrentComponent}/>
  </div>
</main>

<style lang='scss'>
  @import '../Styles/colors.scss';

  :global(body) {
    margin: 0;
    padding: 0;
  }

  main {
    display: grid;
    grid-template-columns: 260px 1fr;
  
    .left {
      background: #f2f2f2;
      color: $accent;
      height: 100vh;
      padding: 1em;
      p {
        cursor: pointer;
        text-align: center;
        &:hover {
          color: $white;
        }
      }
    }
  }
</style>
