<script lang="ts">
  import { onMount } from 'svelte';
  import { fade } from 'svelte/transition';

  import type {Photo} from "../Entities/Photo";
  import type PhotoI from "../Repository/Base/Photo";
  import Button from "../Components/Button.svelte";
  
  export let repo: PhotoI;
  let loading = false

  let leftPics: Array<Photo> = [];
  let rightPics: Array<Photo> = [];
  let page = 1
  let columns = 2

  onMount(async () => {
    loading = true
    const allPics = await repo.getAll(page);
    leftPics = allPics.splice(0, allPics.length / columns);
    rightPics = allPics
    loading = false
  })

  const onSeeMore = async () => {
    loading = true
    page += 1
    let partPhotos = await repo.getAll(page);
    leftPics = updateColumn(leftPics, partPhotos.splice(0, partPhotos.length / columns))
    rightPics = updateColumn(rightPics, partPhotos)
    loading = false
  }

  const updateColumn = (original: Photo[], news: Photo[]) => {
    let tmp = original.splice(0)
    tmp.push(...news)
    return tmp
  }

</script>

<div class="lists">
  <div class="list-l">
    {#each leftPics as photo, i}
    <figure transition:fade={{ delay: 100 + (5*i)  }} >
      <img src={photo.url} alt="today-pic" />
    </figure>
    {/each}
  </div>
  
  <div class="list-r">
    {#each rightPics as photo, i}
    <figure transition:fade={{ delay: 100 + (5*i)  }} >
      <img src={photo.url} alt="today-pic" />
    </figure>
    {/each}
  </div>
</div>
  
  <Button loading={loading} outline on:click={onSeeMore} > See more </Button>

<style lang="scss">
 @import "../Styles/grids.scss";

 .lists {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 32px;
   grid-column-gap: 16px;
 }

 :global(figure) {
   margin: 0;
 }
 .list-r {
    @include  vertical-grid;
 }
 .list-l {
    @include  vertical-grid;
    grid-auto-rows: 300px 250px 180px;
 }
</style>

