<script lang="ts">
  import { onMount } from 'svelte';
  import type {Photo} from "../Entities/Photo";
  import type PhotoI from "../Repository/Base/Photo";
  import TodayPhoto from "../Components/TodayPhoto.svelte";
  
  export let repo: PhotoI;

  let photos: Array<Photo> = [];

  onMount(async () => {
    photos = await repo.getToday();
  })
</script>


{#each photos as photo}
  <TodayPhoto info={photo} />
{/each}

