<script lang="ts">
  import { fly } from 'svelte/transition';

  import TodayList from "../Containers/TodayList.svelte";
  import BrowseList from  "../Containers/BrowseList.svelte";
  import RemoteRepo from "../Repository/Remote/Photo";

  let repo = new RemoteRepo();
</script>

<article id="Discover" >
  <h1>Discover</h1>
  
  <section id="today" transition:fly="{{ y: -10 , duration: 1000}}">
    <h2>What's new</h2>
    <div class="todaylist">
      <TodayList repo={repo}/>
    </div>
  </section>

  <section id="browse" transition:fly="{{ y: -10, duration: 1000 }}">
    <h2>Browse All</h2>
    <BrowseList repo={repo}/>

  </section>
</article>

<style lang="scss">
 @import "../Styles/texts.scss";
 @import "../Styles/grids.scss";

  h1 {
    @include title-text;
  }

  h2 {
    @include mid-text;
  }

  .todaylist{
    @include horizontal-grid;
  }


</style>