<script lang="ts">
  import { Router, Route, Link } from "svelte-navigator";
  import Discover from "./Discover.svelte";
</script>


<Router>
  <main>
    <Route path="/">
      <Discover />
    </Route>
  </main>

</Router>