@mixin vertical-grid {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 10px;

  :global(figure) {
    background: gray;
    margin: 0;
  }

  :global(img) {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@mixin horizontal-grid {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  grid-column-gap: 16px;

  :global(figure) {
    background: gray;
    margin: 0;
  }
}