@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@mixin title-text {
  // Estilo de los títulos
  font-family: "Comfortaa";
  font-size: 36px;
  font-weight: 400;
}

@mixin mid-text {
  // Este estilo se usa en los botones y algunos subtítulos de secciones 
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
}

@mixin bold-text {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 700;
}

@mixin reg-text {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
}