<!--D Componente de botón -->
<script lang="ts">
  export let outline: boolean = false // Bandera definir el estilo del botón
  export let type: 'submit' | 'button' = 'button' // Tipo de botón [submit | button]
  export let loading: boolean = false // Define si el botón se encuentra esperando una respuesta 
</script>

<button
  class="Button"
  class:outline={outline}
  type={type}
  disabled={loading}
  on:click
  >
  <slot></slot>
</button>

<style lang="scss">
  @import "../Styles/texts.scss";
  @import "../Styles/colors.scss";
  
  @mixin disabled {
    background: $gray;
    border-color: $gray-bold;
    color: $gray-bold;
  }

  .Button {
    @include mid-text;

    background: $accent;
    border: 2px solid $accent;
    border-radius: 6px;
    color: $white;
    cursor: pointer;
    margin: 0;
    text-align: center;
    padding: 18px 0;
    width: 100%;

    &:disabled {
      @include disabled;
    }


    &:active {
      background: $white;
      color: $accent;
    }
    

    &.outline {
      background: $white;
      color: $accent;
      &:active {
        background: $accent;
        color: $white;
      }

      &:disabled {
        @include disabled;
      }

    }
  }

</style>

<!--E
<div style='display: flex; grid-gap: 10px;' >
    <Button> Log in </Button>
    <Button outline > Log in </Button>
    <Button  loading > Log in </Button>
    <Button outline loading > Log in </Button>
<div>
-->