<!--D Componente de input -->
<script lang="ts">
  export let label: string = '' // Label del input
  export let placeholder: string = '' // Placeholder del input
  export let type: 'text' | 'password' = 'text' // Typo del input [text | password]




</script>

<div class="Input">
  <label> 
      {#if label}  <div class="label" > {label} </div> {/if}
  
      {#if type === "text"}
        <input type="text" placeholder={placeholder} >
      {:else}
        <input type="password" placeholder={placeholder}>
      {/if}
    </label>
</div>

<style lang="scss">
  @import "../Styles/texts.scss";
  @import "../Styles/colors.scss";

  .label {
    @include reg-text;
    padding: 16px 0;
    color: $accent; 
  }

  input {
    @include reg-text;
    background: transparent;
    border: 2px solid $accent;
    border-radius: 0;
    font-size: 15px;
    padding: 17px;
    margin: 0;
    width: 100%;
  }

</style>

<!--E
<div style='display: grid; grid-template-columns: 1fr 1fr; grid-gap: 16px;' >
  <Input label='Enter your new password' placeholder='ejemplo@correo.com' />
  <Input label='Confirm your new password' type='password' placeholder='*******' />
  <Input  placeholder='ejemplo@correo.com' />
<div>
-->