<!--D Componente de imagen de perfil de usuario -->
<script lang="ts">
  export let url: string = '' // Url de la imagen a mostrar
  export let size: number = 128 // Tamaño del componente en px

</script>

<div
  style={`height: ${size}px; width: ${size}px`}
  class='ProfilePic' >
  <img src={url} alt="profile">
</div>

<style lang="scss">
  .ProfilePic {
    border-radius: 50%;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
</style>

<!--E
<ProfilePic url='https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ' />
<ProfilePic size={64} url='https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ' />
<ProfilePic size={28} url='https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ' />
-->