<!--D Componente para la foto de hoy -->
<script lang="ts">
  import UserInfo from "./UserInfo.svelte"
  import type { Photo } from "../Entities/Photo";

   export let info: Photo
</script>

<div class="TodayPhoto">
  <img class="photo"  src={info.url} alt="today-pic">
  <div class="details">
    <UserInfo user={info.owner} />
  </div>
</div>

<style lang="scss">
  .TodayPhoto {
    width: 343px;
    .photo {
      height: 343px;
      object-fit: cover;
      width: 100%;
    }

    .details {
      padding: 16px 0;
      display: flex;
    }
  }
</style>
<!--E
<TodayPhoto info={{'owner': { 'name': 'Ridhwan Nordin', 'username': 'ridzjcob', 'picture': 'https://uiaa.org/wp-content/uploads/2015/08/IllinoisAlumnusTyronePhillips-a-833x555.jpg' }, 'url': 'https://images.unsplash.com/photo-1639430539438-acaa7a95b679?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'}}/>
-->