<!--D Componete de un usuario con detalle -->

<script lang="ts">
  import type {User} from "../Entities/User";
  import ProfilePic from "./ProfilePic.svelte";

  export let user: User // Info del usuario del tipo Entities/User


</script>

<div class="UserInfo">
  <ProfilePic size={28} url={user.picture} />
  <div class="info">
    <div class="name">{user.name}</div>
    <div class="username">@{user.username}</div>
  </div>
</div>


<style lang="scss">
  @import "../Styles/texts.scss";

  .UserInfo {
    display: flex;
    grid-column-gap: 8px;

    .name {
      @include bold-text;
    }

    .username {
      font-size: 11px;
      font-weight: 400;
      line-height: 12px;
    }
  }
</style>


<!--E
<UserInfo user={{ 'name': 'Ridhwan Nordin', 'username': 'ridzjcob', 'picture': 'https://uiaa.org/wp-content/uploads/2015/08/IllinoisAlumnusTyronePhillips-a-833x555.jpg' }} />
-->